{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/storyform.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> {{story.title}}</title>
</head>
<body>
    {% include 'header.html' %}
    
    <div class="storyform">
        <h1>Edit Part {{part.name}}</h1>
        <hr>
            <div class="storyform">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.part_image.label_tag }}
                        {{ form.part_image }}
                    </div>

                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    {% load widget_tweaks %}
<div class="form-group">
    {{ form.text.label_tag }}
    {{ form.text|add_class:"form-control" }} {# Add Bootstrap form-control class #}
</div>
                    <button type="submit" class="btn btn-primary" style="background-color: #264653;">Modify Part</button>
                </form>
            
        </div>
    </div>
    
</body>
</html>